# PyCharm Project Dir
.idea/

# Venv and Byte-compiled objects
__pycache__/*
venv/*
*.pyc

# Distribution/Packaging
build/
dist/
*.egg-info/
.eggs/

# Unit Test Logs
.pytest_cache/
atgmlogger/tests/logs/
scratch/*

# Data files used for integration testing
*.dat
*.log

